---
layout: default
title: Welcome
---

<div class="media">
	<div class="media-img"><img src="http://52.76.68.253/blog/img/index-recent.jpg" alt=""></div>
	<div class="media-img"><img src="/images/upcoming.jpg" alt=""></div>
</div>

<h1 class='section-head'>Blogs </h1>
{% include blog.html %}


{% for page in site.pages %}
{% if page.name == 'about.md' %}
<div class="section">
        <h1 class='section-head'>About Me </h1>
<div id="about" class="post">
{{ page.content | truncatewords: 100 }}
<p><a href="{{ page.url }}" class="btn">Read More&hellip;</a></p>
</div>
    </div>
{% endif %}
{% endfor %}