<div class="section">
	<div class="blog-list">
		{% for post in site.pages %}
		{% if post.layout == 'category' %}
		<a href="{{ post.url }}">
			<div class="block col" style="background-image:url({{ post.thumbnailImage }});">
                            <h2 class="block-hd">{{ post.title }}</h2>
			</div>
		</a>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% if page.title != 'Home' %} 
{% if page.title != 'Welcome' %} 
<div class="section preview">
{% for post in site.posts %}
    <h1 class="title">
        {{ post.title }}
    </h1>
    <div class="preview-body cf">
            <img class='blog-thumb' src = "{{ post.thumbnailImage }}">
            <div class="blog-content">
                {{ post.content | truncatewords: 75 }}
                <a href="{{ post.url }}" class="btn">Read More&hellip;</a>
{% endfor %}
{% endif %}
{% endif %}


<script>
	$(document).ready(function() {
		$('.blog-list').slick({
			infinite: true,
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
		});
	});
</script>

    