<footer>
    <div class="container" style="border-top: 1px solid white;">
        <p style="float:right">Copyright &copy; {{ site.time | date: "%Y" }}. {{ site.title }}</p>
        <ul class="list" style="padding-top: 10px;float:left">
		<li><a target="_blank" href="{{ site.instagram}}"><i class="fa fa-2x fa-instagram"></i></a></li>
		<li><a target="_blank" href="{{ site.facebook}}"><i class="fa fa-2x fa-facebook"></i></a></li>
		<li><a target="_blank" href="{{ site.wooplr}}"><img src="https://www.wooplr.com/images/jiggle-icon-1439884301966.png" alt="wooplr" height="28"></a></li>
	</ul>
    </div>
</footer>
<div id="overlay"></div>