<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Lora|Raleway|Cormorant:300|Unica+One|Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<script src="https://use.fontawesome.com/94c2c9f3c5.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
	<script src="https://npmcdn.com/packery@2.1/dist/packery.pkgd.min.js"></script>
	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
</head>
<body {% if page.url == '/' %} class="has-overlay" {% endif %}>
	{% include header.html %}
	
	<div class="section">
		<div class="container">{{ content }}</div>
	</div>
	
	{% include footer.html %}
	<script>
		$(document).ready(function() {
			$('body').on('click', function() {
				if ($(this).hasClass('has-overlay')) {
					$(this).removeClass('has-overlay');
				} else {
					return false;
				}
			});
		});
	</script>
</body>
</html>