<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Lora|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body {% if page.url == '/' %} class="has-overlay" onclick="D.show();" {% endif %}>
	{% include header.html %}
	
	<div class="section">
		<div class="container">{{ content }}</div>
	</div>
	
	{% include footer.html %}
	<script src="https://use.fontawesome.com/94c2c9f3c5.js"></script>
	<script>
		var D = {
			show: function() {
				console.log(window.history);
				var d = document.body;
				if (d.classList.value == 'has-overlay') {
					d.classList.remove('has-overlay');
				} else {
					return false;
				}
			}
		};
	</script>
</body>
</html>