<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    
    {% if page.layout == 'post' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    
    <!-- OG -->
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    <meta property="og:description" content="Hello Everyone! I am Dhatri Rao and I welcome you all to my space where I’d love to take you all through the various tastes of my endless Fashion Journey."
    />
    <meta property="og:image" content="http://www.dmodjourney.com/images/coverpicture.jpg" />
    <!-- /OG -->
    
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Raleway|Cormorant:300|Unica+One|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {% if page.layout == 'post' %}
    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.1.2/css/tachyons.min.css" />
    {% endif %}
    <!-- /CSS -->

    <!-- JS -->
    <script src="https://use.fontawesome.com/94c2c9f3c5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="https://npmcdn.com/packery@2.1/dist/packery.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '177207739379430');
fbq('track', "PageView");
fbq('track', 'ViewContent');</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=177207739379430&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    <!-- /JS -->
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83012933-1', 'auto');
        ga('send', 'pageview');
        </script>
    <!-- End Google Analytics -->
</head>

<body class="bg-near-black white-80 {% if page.url=='/' %} has-overlay {% endif %} {% if page.layout == 'post' %} blog {% endif %}">
    {% include header.html %}

    <div class="section">
        <div class="container">{{ content }}</div>
    </div>

    {% include footer.html %}
    <script>
		$(document).ready(function() {
			$('body').on('click', function() {
				if ($(this).hasClass('has-overlay')) {
					$(this).removeClass('has-overlay');
				}
			});
		});
	</script>
</body>

</html>