---
layout: default
---
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1062893837163296',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<article class="pa3 mw7 center justified">
    <h1 class="f2">{{ page.title }}</h1>
    <h2 class="f6 tracked">{{ page.date | date: '%B %d, %Y' }}, <a href="/{{page.category}}">{{ page.category }}</a></h2>
    <div class="post-content">
            <img src="{{page.featureImage}}" />
            {{ content }}
    </div>
    <div class="fb-comments" data-href="{{site.url}}/{{page.url}}" data-numposts="5" data-colorscheme="dark" data-width="100%"></div>
</article>